<a href="https://colab.research.google.com/github/Nafise-Dev/Exercices_Python/blob/main/exercices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exo 2.1

In [ ]:
nombre1 = input("premier nombre :")
nombre2 = input("deuxième nombre :")

total =int(nombre1) *int(nombre2)

if total > 0:
    print("résultat positif: "+str(total))
else:
    print("resultat négatif: "+str(total))

premier nombre :2
deuxième nombre :4
résultat positif: 8

Exo 2.2

In [ ]:
nombre = int(input("Rentrez un nombre \t"))

result = 0
for i in range(1,var+1):
    result = result + i
    print(i)
print(result)

Rentrez un nombre 	5
1
2
3
4
5
15

Exo 2.3

In [ ]:
tab = [1,2,3,4,5]
sum(tab)

15

Exo 2.4

In [ ]:
tab1 = [9, 12, 3, 7]
tab2 = [2, 1, 12, 8]
n = 0
for i in range(len(tab1)):
    for j in range(len(tab2)):
        n = n + tab1[i] * tab2[j]

print(n)

713

Exo 2.5

In [ ]:
tab = [99,55,100,62]

num = 0

for y,i in enumerate(tab):
    if num < i:
        num = i
        position = y + 1
        
print("valeur : "+str(num)+", indice : "+str(position))

valeur : 100, indice : 3

Exo 2.6

In [ ]:
n = int(input("Taille du tableau ? : "))
tab = []

for i in range(n):
    num = int(input())
    tab.append(num)

somme = 0

for j in tab:
    somme += j

moyenne = somme / n

res = []

for k in tab:
    if k > moyenne:
        res.append(k)

print(res)

Taille du tableau ? : 3
99
3
1
[99]

Exo 2.7

In [ ]:
v1 = [5, 8]
v2 = [3, 6]

res = []

for i in range(2):
    num = v1[i] * v2[i]
    res.append(num)

print(res)

[15, 48]

Exo 2.8

In [ ]:
nums = [25,13,6,17,9]
        
print(nums)
nums.sort()
print(nums)

[25, 13, 6, 17, 9]
[6, 9, 13, 17, 25]

Exo 2.9

In [ ]:
n = int(input("Entrez un nombre : "))
fact = 1
  
for i in range(1,n+1):
    fact = fact * i
      
print("La  factorielle de " + str(n) + " est = "+ str(fact))

Entrez un nombre : 4
La  factorielle de 4 est = 24